* {
  margin: 0;
  padding: 0;
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 104, 111, .65), rgb(222, 90, 255, .65)),
    url('./images/pexels-zahid-lilani-2104742.jpg') center bottom;
  background-size: cover;
  color: white;
}

img {
  max-width: 100%;
}

.nav__content {
  position: fixed;
  width: 80%;
  left: 0;
  top: 0;
}